.wrap-status{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    .status-active{
        font-weight: bold;
        display: block;
        position: relative;
        color: rgb(41, 174, 189);
        &::after{
            content: "";
            width: 100%;
            height: 3px;
            background-color: rgb(41, 174, 189);
            position: absolute;
            bottom: -5px;
            left: 0;
        }
    }
}
.order-item{
padding: 20px;
margin-bottom: 30px;
background-color: white;
padding-bottom: 0;
cursor: pointer;

}